body {
	margin:0px 0px; padding:0px;
	text-align:center;
	}	
	

#page {
	heightx: 500px; 
	borderx: blue 1px solid;
}
	
#code {
	width:150px;
	margin:0px auto;
	text-align:center;
	padding:15px;
	border-radius:34px;
	-moz-border-radius:34px;
	-webkit-border-radius:34px;
	/*IE DOES NOT SUPPORT BORDER RADIUS*/
	box-shadow:0px 0px 16px #000000;
	-moz-box-shadow:0px 0px 16px #000000;
	-webkit-box-shadow:0px 0px 16px #000000;
	/*IE DOES NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	background: linear-gradient(top, #63b0ff, #c2eeff);
	/*--OPERA & IE9 DO NOT SUPPORT GRADIENT BACKGROUNDS--*/
	background: -moz-linear-gradient(top, #63b0ff, #c2eeff);
	background: -webkit-gradient(linear, center top, center bottom, from(#63b0ff), to(#c2eeff));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b0ff', endColorstr='#c2eeff');
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b0ff', endColorstr='#c2eeff')";
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	margin-left: 100px; 
	float: left;
}
	
#banner {
	background-color: #333;
	color: #eee;
	margin-bottom: 20px;
	text-align: right;
	padding: 5px 40px 5px 0px;
}

#input {
	width: 650px;
	float: left;
	margin-left: 50px;
	margin-top: 30px;
	text-align: right;
	font-size: 12px;
	padding: 20px;
	
	border-radius: 34px;
	-moz-border-radius: 34px;
	-webkit-border-radius: 34px;
	/*IE DOES NOT SUPPORT BORDER RADIUS*/
	box-shadow:0px 0px 16px #000000;
	-moz-box-shadow:0px 0px 16px #000000;
	-webkit-box-shadow:0px 0px 16px #000000;
	/*IE DOES NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	background: linear-gradient(top, #EEA2AD, #EEE5DE);
	/*--OPERA & IE9 DO NOT SUPPORT GRADIENT BACKGROUNDS--*/
	background: -moz-linear-gradient(top, #EEA2AD, #EEE5DE);
	background: -webkit-gradient(linear, center top, center bottom, from(#EEA2AD), to(#EEE5DE));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEA2AD', endColorstr='#EEE5DE');
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEA2AD', endColorstr='#EEE5DE')";
}

#answerRow input{
	width: 25px;
}

a{
	text-decoration: none;
	color: #555;
}

a:hover{
	color: #AAA;
}

.tick {
	background-image: url('tick.png');	
	width: 20px; 
	height: 20px;
	display: inline-block;   
}

.cross {
	background-image: url('cross.png');	
	width: 20px; 
	height: 20px;
	display: inline-block;   
}
